In [2]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [45]:
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [46]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

#scraping the Video Name 
nm=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in nm:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
print(len(Name),Name)

30 ['"Baby Shark Dance"[6]', '"Despacito"[9]', '"Johny Johny Yes Papa"[17]', '"Bath Song"[18]', '"Shape of You"[19]', '"See You Again"[22]', '"Wheels on the Bus"[27]', '"Phonics Song with Two Words"[28]', '"Uptown Funk"[29]', '"Learning Colors – Colorful Eggs on a Farm"[30]', '"Gangnam Style"[31]', '"Masha and the Bear – Recipe for Disaster"[36]', '"Dame Tu Cosita"[37]', '"Axel F"[38]', '"Sugar"[39]', '"Counting Stars"[40]', '"Baa Baa Black Sheep"[41]', '"Roar"[42]', '"Lakdi Ki Kathi"[43]', '"Waka Waka (This Time for Africa)"[44]', '"Sorry"[45]', '"Thinking Out Loud"[46]', '"Humpty the train on a fruits ride"[47]', '"Shree Hanuman Chalisa"[48]', '"Dark Horse"[49]', '"Perfect"[50]', '"Let Her Go"[51]', '"Faded"[52]', '"Girls Like You"[53]', '"Lean On"[54]']

In [47]:
#scraping the Artist 
Ar=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in Ar:
    if i.text is None :
        Artist.append("--") 
    else:
        Artist.append(i.text)
print(len(Artist),Artist)

30 ["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', "LooLoo Kids - Nursery Rhymes and Children's Songs", 'Cocomelon - Nursery Rhymes', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon - Nursery Rhymes', 'ChuChu TV Nursery Rhymes & Kids Songs', 'Mark Ronson', 'Miroshka TV', 'Psy', 'Get Movies', 'Ultra Records', 'Crazy Frog', 'Maroon 5', 'OneRepublic', 'Cocomelon - Nursery Rhymes', 'Katy Perry', 'Jingle Toons', 'Shakira', 'Justin Bieber', 'Ed Sheeran', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'T-Series Bhakti Sagar', 'Katy Perry', 'Ed Sheeran', 'Passenger', 'Alan Walker', 'Maroon 5', 'Major Lazer Official']

In [48]:
#scraping the Upload_Date 
date=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in date:
    if i.text is None :
        Upload_Date.append("--") 
    else:
        Upload_Date.append(i.text)
print(len(Upload_Date),Upload_Date)

30 ['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'July 15, 2012', 'January 31, 2012', 'April 5, 2018', 'June 16, 2009', 'January 14, 2015', 'May 31, 2013', 'June 25, 2018', 'September 5, 2013', 'June 14, 2018', 'June 4, 2010', 'October 22, 2015', 'October 7, 2014', 'January 26, 2018', 'May 10, 2011', 'February 20, 2014', 'November 9, 2017', 'July 25, 2012', 'December 3, 2015', 'May 31, 2018', 'March 22, 2015']

In [49]:
#scraping the Views 
v=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in v:
    if i.text is None :
        Views.append("--") 
    else:
        Views.append(i.text)
print(len(Views),Views)

30 ['14.09', '8.38', '6.87', '6.62', '6.20', '6.17', '5.88', '5.70', '5.15', '5.07', '5.05', '4.58', '4.55', '4.34', '4.00', '3.97', '3.96', '3.96', '3.91', '3.85', '3.77', '3.73', '3.73', '3.69', '3.67', '3.67', '3.61', '3.59', '3.56', '3.55']

In [50]:
Youtube_Video=pd.DataFrame([])

Youtube_Video['Video Title']=Name
Youtube_Video['Artist']=Artist
Youtube_Video['Upload_Date']=Upload_Date
Youtube_Video['Views In Bllion']=Views
Youtube_Video

,Video Title,Artist,Upload_Date,Views In Bllion
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
1,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
5,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
8,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
13,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
14,"""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
15,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
17,"""Roar""[42]",Katy Perry,"September 5, 2013",3.96
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
20,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
21,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
24,"""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
26,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
27,"""Faded""[52]",Alan Walker,"December 3, 2015",3.59
28,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
29,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55

# 2. Scrape the details team India’s international fixtures from bcci.tv.

In [24]:
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/fixtures?platform=international&type=men")

In [25]:
Team=[]
Date_Time =[]
Ground=[]
Test_ODI=[]


#scraping the company_name 
tm=driver.find_elements(By.XPATH, '//div[@class="match-info"]/h5')
for i in tm:
    if i.text is None :
        Team.append("--") 
    else:
        Team.append(i.text)
print(len(Team),Team)

7 ['ENGLAND TOUR OF INDIA 2023-24', 'ENGLAND TOUR OF INDIA 2023-24', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']

In [26]:
#scraping the Date_Time 
DT=driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in DT:
    if i.text is None :
        Date_Time.append("--") 
    else:
        Date_Time.append(i.text)
print(len(Date_Time),Date_Time)

7 ['23 FEBRUARY, 2024', '7 MARCH, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

In [27]:
#scraping the Ground 
G=driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')
for i in G:
    if i.text is None :
        Ground.append("--") 
    else:
        Ground.append(i.text)
print(len(Ground),Ground)

7 ['JSCA International Stadium Complex,', 'Himachal Pradesh Cricket Association Stadium,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,']

In [31]:



# Find elements with class name "ground-name"
ground_names = driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')

# Find elements with class name "city-name"
city_names = driver.find_elements(By.XPATH, '//span[@class="ng-binding"]')

# Concatenate ground names and city names
concatenated_list = []
for ground, city in zip(ground_names, city_names):
    concatenated_list.append(f"{ground.text} - {city.text}")

# Print or use the concatenated text
print(concatenated_list)


#G2=driver.find_elements(By.XPATH, '//span[@class="ng-binding"]')

['JSCA International Stadium Complex, - Ranchi', 'Himachal Pradesh Cricket Association Stadium, - Dharamsala', 'Harare Sports Club, - Harare', 'Harare Sports Club, - Harare', 'Harare Sports Club, - Harare', 'Harare Sports Club, - Harare', 'Harare Sports Club, - Harare']

In [29]:
#scraping the Test_ODI 
TO=driver.find_elements(By.XPATH, '//div[@class="tags-wrap"]/span[1]')
for i in TO:
    if i.text is None :
        Test_ODI.append("--") 
    else:
        Test_ODI.append(i.text)
print(len(Test_ODI),Test_ODI)

7 ['4th Test', '5th Test', '1st T20I', '2nd T20I', '3rd T20I', '4th T20I', '5th T20I']

In [32]:
International_Fixtures=pd.DataFrame([])
International_Fixtures['Team']=Team
International_Fixtures['Date_Time']=Date_Time
International_Fixtures['Series']=Test_ODI
International_Fixtures['Ground']=concatenated_list
International_Fixtures

,Team,Date_Time,Series,Ground
0,ENGLAND TOUR OF INDIA 2023-24,"23 FEBRUARY, 2024",4th Test,"JSCA International Stadium Complex, - Ranchi"
1,ENGLAND TOUR OF INDIA 2023-24,"7 MARCH, 2024",5th Test,"Himachal Pradesh Cricket Association Stadium, ..."
2,INDIA TOUR OF ZIMBABWE 2024,"6 JULY, 2024",1st T20I,"Harare Sports Club, - Harare"
3,INDIA TOUR OF ZIMBABWE 2024,"7 JULY, 2024",2nd T20I,"Harare Sports Club, - Harare"
4,INDIA TOUR OF ZIMBABWE 2024,"10 JULY, 2024",3rd T20I,"Harare Sports Club, - Harare"
5,INDIA TOUR OF ZIMBABWE 2024,"13 JULY, 2024",4th T20I,"Harare Sports Club, - Harare"
6,INDIA TOUR OF ZIMBABWE 2024,"14 JULY, 2024",5th T20I,"Harare Sports Club, - Harare"

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.

In [44]:
driver=webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [46]:
Rank=[]
State =[]
GDP=[]
GSDP_Current=[]
GSDP_Previous=[]
Share=[]


economy = driver.find_element(By.XPATH, '//*[@id="top"]/div[2]/div[2]/button')       # Locating page foe top videos by xpath
economy.click()


ind = driver.find_element(By.XPATH, '//div[@class="dropdown-content"]/a[3]')       # Locating page foe top videos by xpath
ind.click()


gdp = driver.find_element(By.XPATH, '//html/body/div[2]/div[2]/div[2]/ul/li[1]/a')       # Locating page foe top videos by xpath
gdp.click()

In [47]:
#scraping the Rank 
r=driver.find_elements(By.XPATH, "//td[@class='data1']")
for i in r:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
print(len(Rank),Rank)

68 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '']

In [48]:
#scraping the State 
St=driver.find_elements(By.XPATH, "//td[@class='name']")
for i in St:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
print(len(State),State)

68 ['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands', 'India', 'Maharashtra', 'Tamil Nadu', 'Karnataka', 'Uttar Pradesh', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Telangana', 'Andhra Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Odisha', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Manipur', 'Arunachal Pradesh', 'Sikkim', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands', 'India']

In [49]:
#scraping the GDP 
gdp=driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp:
    if i.text is None :
        GDP.append("--") 
    else:
        GDP.append(i.text)
print(len(GDP),GDP)

33 ['417.163', '278.011', '265.024', '263.440', '259.996', '183.068', '163.507', '152.494', '152.185', '151.523', '125.157', '121.422', '116.862', '90.047', '87.284', '82.442', '55.381', '54.550', '48.167', '36.530', '26.833', '23.659', '11.087', '8.396', '6.125', '5.938', '5.206', '5.041', '4.912', '4.714', '4.283', '3.735', '1.392']

In [50]:
#scraping the Share 
shr=driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[5]")
for i in shr:
    if i.text is None :
        Share.append("--") 
    else:
        Share.append(i.text)
print(len(Share),Share)

33 ['13.24%', '8.82%', '8.41%', '8.36%', '8.25%', '5.81%', '5.19%', '4.84%', '4.83%', '4.81%', '3.97%', '3.85%', '3.71%', '2.86%', '2.77%', '2.62%', '1.76%', '1.73%', '1.53%', '1.16%', '0.85%', '0.75%', '0.35%', '0.27%', '0.19%', '0.19%', '0.17%', '0.16%', '0.16%', '0.15%', '0.14%', '0.12%', '0.04%']

In [51]:
#scraping the GSDP_Current 
shr=driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[4]")
for i in shr:
    if i.text is None :
        GSDP_Current.append("--") 
    else:
        GSDP_Current.append(i.text)
print(len(GSDP_Current),GSDP_Current)

33 ['3,108,022', '2,071,286', '1,974,532', '1,962,725', '1,937,066', '1,363,926', '1,218,193', '1,136,137', '1,133,837', '1,128,907', '932,470', '904,642', '870,665', '670,881', '650,302', '614,227', '412,612', '406,416', '358,863', '272,159', '199,917', '176,269', '82,604', '62,550', '45,635', '44,238', '38,785', '37,557', '36,594', '35,124', '31,913', '27,824', '10,371']

In [52]:
#scraping the GSDP_Previous 
shr=driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[8]")
for i in shr:
    if i.text is None :
        GSDP_Previous.append("--") 
    else:
        GSDP_Previous.append(i.text)
print(len(GSDP_Previous),GSDP_Previous)

33 ['2,027,971', '1,343,287', '1,204,660', '1,229,713', '1,372,204', '787,758', '738,922', '600,689', '704,889', '674,371', '572,747', '597,765', '568,086', '432,960', '399,930', '433,769', '262,523', '267,681', '243,348', '193,412', '124,728', '126,433', '55,548', '39,487', '30,287', '27,834', '24,267', '20,728', '20,515', '19,801', '18,363', '18,494', '7,172']

In [54]:
State_GDP=pd.DataFrame([])
State_GDP['Rank']=Rank[:33]
State_GDP['State']=State[:33]
State_GDP['Share In GDP']=Share[:33]
State_GDP['GDP of State $']=GDP[:33]
State_GDP['GSDP_Current']=GSDP_Current[:33]
State_GDP['GSDP_Previous']=GSDP_Previous[:33]
State_GDP

,Rank,State,Share In GDP,GDP of State $,GSDP_Current,GSDP_Previous
0,1,Maharashtra,13.24%,417.163,"3,108,022","2,027,971"
1,2,Tamil Nadu,8.82%,278.011,"2,071,286","1,343,287"
2,3,Uttar Pradesh,8.41%,265.024,"1,974,532","1,204,660"
3,4,Karnataka,8.36%,263.440,"1,962,725","1,229,713"
4,5,Gujarat,8.25%,259.996,"1,937,066","1,372,204"
5,6,West Bengal,5.81%,183.068,"1,363,926","787,758"
6,7,Rajasthan,5.19%,163.507,"1,218,193","738,922"
7,8,Madhya Pradesh,4.84%,152.494,"1,136,137","600,689"
8,9,Andhra Pradesh,4.83%,152.185,"1,133,837","704,889"
9,10,Telangana,4.81%,151.523,"1,128,907","674,371"
10,11,Kerala,3.97%,125.157,"932,470","572,747"
11,12,Delhi,3.85%,121.422,"904,642","597,765"
12,13,Haryana,3.71%,116.862,"870,665","568,086"
13,14,Odisha,2.86%,90.047,"670,881","432,960"
14,15,Bihar,2.77%,87.284,"650,302","399,930"
15,16,Punjab,2.62%,82.442,"614,227","433,769"
16,17,Assam,1.76%,55.381,"412,612","262,523"
17,18,Chhattisgarh,1.73%,54.550,"406,416","267,681"
18,19,Jharkhand,1.53%,48.167,"358,863","243,348"
19,20,Uttarakhand,1.16%,36.530,"272,159","193,412"
20,21,Jammu & Kashmir-UT,0.85%,26.833,"199,917","124,728"
21,22,Himachal Pradesh,0.75%,23.659,"176,269","126,433"
22,23,Goa,0.35%,11.087,"82,604","55,548"
23,24,Tripura,0.27%,8.396,"62,550","39,487"
24,25,Chandigarh,0.19%,6.125,"45,635","30,287"
25,26,Puducherry,0.19%,5.938,"44,238","27,834"
26,27,Meghalaya,0.17%,5.206,"38,785","24,267"
27,28,Sikkim,0.16%,5.041,"37,557","20,728"
28,29,Manipur,0.16%,4.912,"36,594","20,515"
29,30,Arunachal Pradesh,0.15%,4.714,"35,124","19,801"
30,31,Nagaland,0.14%,4.283,"31,913","18,363"
31,32,Mizoram,0.12%,3.735,"27,824","18,494"
32,33,Andaman & Nicobar Islands,0.04%,1.392,"10,371","7,172"

# 4. Scrape the details of trending repositories on Github.com.

In [70]:
driver=webdriver.Chrome()
driver.get("https://github.com/")

In [71]:
Repository_Name =[]
Language=[]
Muted_Link=[]

explore = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')       
explore.click()

trending = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [72]:
#scraping the Repositor_Name 
RN=driver.find_elements(By.XPATH, "//span[@class='text-normal']")
for i in RN:
    if i.text is None :
        Repository_Name.append("--") 
    else:
        Repository_Name.append(i.text)
print(len(Repository_Name),Repository_Name)

25 ['charlax /', 'I-S00N /', 'chatchat-space /', 'GopeedLab /', 'krahets /', '1Panel-dev /', 'Kalabasa /', 'zhayujie /', 'FujiwaraChoki /', 'ChatGPTNextWeb /', 'karpathy /', 'maybe-finance /', 'codecrafters-io /', 'QuivrHQ /', 'mut-ex /', 'sherlock-project /', 'rustdesk /', 'songquanpeng /', 'LargeWorldModel /', 'xtekky /', 'jlevy /', 'tw93 /', 'oddfar /', 'facebookresearch /', 'lobehub /']

In [73]:
Description=[]
#scraping the Description 
des=driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in des:
    if i.text is None :
        Description.append("--") 
    else:
        Description.append(i.text)
print(len(Description),Description)

23 ['A collection of learning resources for curious software engineers', 'Langchain-Chatchat（原Langchain-ChatGLM）基于 Langchain 与 ChatGLM 等语言模型的本地知识库问答 | Langchain-Chatchat (formerly langchain-ChatGLM), local knowledge based LLM (like ChatGLM) QA app with langchain', 'A modern download manager that supports all platforms. Built with Golang and Flutter.', '《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++, Java, C#, Go, Swift, JS, TS, Dart, Rust, C, Zig 等语言。English edition ongoing', '🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。', 'html with targeted manipulation zones', '基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT3.5/GPT4.0/Claude/文心一言/讯飞星火/通义千问/Gemini/GLM-4/LinkAI，能处理文本、语音和图片，访问操作系统和互联网，支持基于自有知识库进行定制企业智能客服。', 'Automate the process of making money online.', 'A cross-platform ChatGPT/Gemini UI (Web / PWA / Linux / Win / MacOS). 一键拥有你自己的跨平台 ChatGPT/Gemini 应用。', 'Minimal, clean code for the Byte Pair Encoding (BPE) algorithm commonly used in LLM tokenization.', 'The OS for your personal finances', 'Master programming by recreating your favorite technologies from scratch.', 'Your GenAI Second Brain 🧠 A personal productivity assistant (RAG) ⚡️🤖 Chat with your docs (PDF, CSV, ...) & apps using Langchain, GPT 3.5 / 4 turbo, Private, Anthropic, VertexAI, Ollama, LLMs, that you can share with users ! Local & Private alternative to OpenAI GPTs & ChatGPT powered by retrieval-augmented generation.', 'An intuitive GUI for GLIGEN that uses ComfyUI in the backend', '🔎 Hunt down social media accounts by username across social networks', 'An open-source remote desktop, and alternative to TeamViewer.', 'OpenAI 接口管理 & 分发系统，支持 Azure、Anthropic Claude、Google PaLM 2 & Gemini、智谱 ChatGLM、百度文心一言、讯飞星火认知、阿里通义千问、360 智脑以及腾讯混元，可用于二次分发管理 key，仅单可执行文件，已打包好 Docker 镜像，一键部署，开箱即用. OpenAI key management & redistribution system, using a single API for all LLMs, and features an English UI.', 'The official gpt4free repository | various collection of powerful language models', 'Master the command line, in one page', '🤱🏻 Turn any webpage into a desktop app with Rust. 🤱🏻 利用 Rust 轻松构建轻量级多端桌面应用', 'i茅台app自动预约，每日自动预约，支持docker一键部署', 'PyTorch code and models for V-JEPA self-supervised learning from video.', '🤖 Lobe Chat - an open-source, high-performance AI Chat framework. Support one-click free deployment of your private ChatGPT/Gemini/Ollama application.']

In [74]:
#scraping the Language 
L=driver.find_elements(By.XPATH, "//span[@itemprop='programmingLanguage']")
for i in L:
    if i.text is None :
        Language.append("NAN") 
    else:
        Language.append(i.text)
print(len(Language),Language)

22 ['Python', 'Python', 'Dart', 'Java', 'Go', 'JavaScript', 'Python', 'Python', 'TypeScript', 'Python', 'Ruby', 'TypeScript', 'JavaScript', 'Python', 'Rust', 'JavaScript', 'Python', 'Python', 'Rust', 'Java', 'Python', 'TypeScript']

In [77]:
#scraping the Muted_Link And Star 
ml=driver.find_elements(By.XPATH, '//a[@class="Link Link--muted d-inline-block mr-3"]')
for i in ml:
    if i.text is None :
        Muted_Link.append("NAN") 
    else:
        Muted_Link.append(i.text)
print(len(Muted_Link),Muted_Link)

50 ['40,233', '3,088', '3,722', '1,791', '22,822', '3,966', '9,837', '756', '63,433', '7,722', '15,902', '1,423', '1,213', '25', '21,914', '6,070', '786', '91', '61,729', '51,524', '6,527', '497', '24,053', '1,777', '246,494', '23,420', '28,377', '2,731', '796', '73', '48,712', '5,892', '59,840', '6,301', '10,029', '2,362', '5,493', '428', '53,478', '12,310', '145,468', '13,996', '21,696', '3,123', '2,911', '830', '1,399', '119', '18,491', '3,716']

In [78]:
Muted=[]
for i in range(1,len(Muted_Link),2):
    Muted.append(Muted_Link[i])
    
print(len(Muted),Muted)

25 ['3,088', '1,791', '3,966', '756', '7,722', '1,423', '25', '6,070', '91', '51,524', '497', '1,777', '23,420', '2,731', '73', '5,892', '6,301', '2,362', '428', '12,310', '13,996', '3,123', '830', '119', '3,716']

In [79]:
Muted_Star=[]
for i in range(0,len(Muted_Link),2):
    Muted_Star.append(Muted_Link[i])
    
print(len(Muted_Star),Muted_Star)

25 ['40,233', '3,722', '22,822', '9,837', '63,433', '15,902', '1,213', '21,914', '786', '61,729', '6,527', '24,053', '246,494', '28,377', '796', '48,712', '59,840', '10,029', '5,493', '53,478', '145,468', '21,696', '2,911', '1,399', '18,491']

In [81]:
Trending_Repository=pd.DataFrame([])
Trending_Repository['Repository Title']=Repository_Name[:22]
Trending_Repository['Description']=Description[:22]
Trending_Repository['Language']=Language[:22]
Trending_Repository['Contributors Count ']=Muted[:22]
Trending_Repository['Muted_Star']=Muted_Star[:22]
Trending_Repository

,Repository Title,Description,Language,Contributors Count,Muted_Star
0,charlax /,A collection of learning resources for curious...,Python,"3,088","40,233"
1,I-S00N /,Langchain-Chatchat（原Langchain-ChatGLM）基于 Langc...,Python,"1,791","3,722"
2,chatchat-space /,A modern download manager that supports all pl...,Dart,"3,966","22,822"
3,GopeedLab /,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++,...",Java,756,"9,837"
4,krahets /,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,Go,"7,722","63,433"
5,1Panel-dev /,html with targeted manipulation zones,JavaScript,"1,423","15,902"
6,Kalabasa /,基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT...,Python,25,"1,213"
7,zhayujie /,Automate the process of making money online.,Python,"6,070","21,914"
8,FujiwaraChoki /,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,TypeScript,91,786
9,ChatGPTNextWeb /,"Minimal, clean code for the Byte Pair Encoding...",Python,"51,524","61,729"
10,karpathy /,The OS for your personal finances,Ruby,497,"6,527"
11,maybe-finance /,Master programming by recreating your favorite...,TypeScript,"1,777","24,053"
12,codecrafters-io /,Your GenAI Second Brain 🧠 A personal productiv...,JavaScript,"23,420","246,494"
13,QuivrHQ /,An intuitive GUI for GLIGEN that uses ComfyUI ...,Python,"2,731","28,377"
14,mut-ex /,🔎 Hunt down social media accounts by username ...,Rust,73,796
15,sherlock-project /,"An open-source remote desktop, and alternative...",JavaScript,"5,892","48,712"
16,rustdesk /,OpenAI 接口管理 & 分发系统，支持 Azure、Anthropic Claude、G...,Python,"6,301","59,840"
17,songquanpeng /,The official gpt4free repository | various col...,Python,"2,362","10,029"
18,LargeWorldModel /,"Master the command line, in one page",Rust,428,"5,493"
19,xtekky /,🤱🏻 Turn any webpage into a desktop app with Ru...,Java,"12,310","53,478"
20,jlevy /,i茅台app自动预约，每日自动预约，支持docker一键部署,Python,"13,996","145,468"
21,tw93 /,PyTorch code and models for V-JEPA self-superv...,TypeScript,"3,123","21,696"

# 5. Scrape the details of top 100 songs on billiboard.com.

In [22]:
driver=webdriver.Chrome()
driver.get("https://www.billboard.com/")

In [23]:
Song_Name =[]
Singer=[]
rank=[]
Last_Week=[]
Weeks_on_board=[]
Peak_pos=[]

charts = driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]')
charts.click()

top100 = driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]')      
top100.click()

In [26]:
#scraping the Rank 
rb=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul[1]/li[1]/span[1]')
for i in rb:
    if i.text is None :
        rank.append("--") 
    else:
        rank.append(i.text)
print(len(rank),rank)

100 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']

In [27]:
#scraping the Song_Name 
son=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul[1]/li[4]/ul/li/h3')
for i in son:
    if i.text is None :
        Song_Name.append("--") 
    else:
        Song_Name.append(i.text)
print(len(Song_Name),Song_Name)

100 ['Lovin On Me', "Texas Hold 'Em", 'Carnival', 'Beautiful Things', 'Lose Control', 'Cruel Summer', 'Snooze', 'I Remember Everything', 'Greedy', 'Stick Season', 'Fast Car', 'Agora Hills', 'Water', 'Last Night', 'Redrum', "Thinkin' Bout Me", 'Flowers', "Is It Over Now? (Taylor's Version) [From The Vault]", 'Paint The Town Red', 'Yeah!', 'Never Lose Me', 'La Diabla', 'Fuk Sumn', 'Pretty Little Poison', 'Houdini', 'Back To Me', 'What Was I Made For?', 'Forever', 'Where The Wild Things Are', 'Talking', 'Yes, And?', 'Made For Me', 'Burn', 'Vultures', 'The Painter', 'Good Good', 'Selfish', '16 Carriages', 'Stars', 'Everybody', 'Rich Baby Daddy', 'Feather', 'Vampire', 'On My Mama', 'Wild Ones', 'Dance The Night', 'Save Me', 'Hiss', 'Exes', 'Need A Favor', 'Truck Bed', 'Do It', 'Paid', 'Surround Sound', 'Keys To My Life', 'World On Fire', 'First Person Shooter', 'La Victima', 'Get In With Me', 'Burn It Down', 'Standing Next To You', 'Think U The Shit (Fart)', 'Praise Jah In The Moonlight', 'Paperwork', 'Beg Forgiveness', 'Man Made A Bar', 'Hoodrat', 'One Call', 'Igual Que Un Angel', 'Spin You Around (1/24)', 'FTCU', 'One Of The Girls', 'Murder On The Dancefloor', 'You Broke My Heart', 'Northern Attitude', 'FE!N', '23', 'Bandit', 'Problematic', 'Nee-nah', 'Act II: Date @ 8', 'I Can Feel It', "Mamaw's House", 'Soak City', 'Harley Quinn', "You're Gonna Go Far", 'Bellakeo', 'IDGAF', 'Yeah Glo!', "Different 'Round Here", 'She Calls Me Back', "We Don't Fight Anymore", "Good (Don't Die)", 'King', 'Coal', 'Mmhmm', 'Monaco', 'Prove It', 'Perro Negro', 'Sunday Service']

In [28]:
#scraping the Singer 
sin=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul[1]/li[4]/ul/li[1]/span[1]')
for i in sin:
    if i.text is None :
        Singer.append("--") 
    else:
        Singer.append(i.text)
print(len(Singer),Singer)

100 ['Jack Harlow', 'Beyonce', '¥$: Kanye West & Ty Dolla $ign', 'Benson Boone', 'Teddy Swims', 'Taylor Swift', 'SZA', 'Zach Bryan Featuring Kacey Musgraves', 'Tate McRae', 'Noah Kahan', 'Luke Combs', 'Doja Cat', 'Tyla', 'Morgan Wallen', '21 Savage', 'Morgan Wallen', 'Miley Cyrus', 'Taylor Swift', 'Doja Cat', 'Usher Featuring Lil Jon & Ludacris', 'Flo Milli', 'Xavi', '¥$: Kanye West & Ty Dolla $ign', 'Warren Zeiders', 'Dua Lipa', '¥$: Kanye West & Ty Dolla $ign', 'Billie Eilish', 'Noah Kahan', 'Luke Combs', '¥$: Kanye West & Ty Dolla $ign Featuring North West', 'Ariana Grande', 'Muni Long', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J', 'Cody Johnson', 'Usher, Summer Walker & 21 Savage', 'Justin Timberlake', 'Beyonce', '¥$: Kanye West & Ty Dolla $ign', 'Nicki Minaj Featuring Lil Uzi Vert', 'Drake Featuring Sexyy Red & SZA', 'Sabrina Carpenter', 'Olivia Rodrigo', 'Victoria Monet', 'Jessie Murph & Jelly Roll', 'Dua Lipa', 'Jelly Roll With Lainey Wilson', 'Megan Thee Stallion', 'Tate McRae', 'Jelly Roll', 'HARDY', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'JID Featuring 21 Savage & Baby Tate', '¥$: Kanye West & Ty Dolla $ign', 'Nate Smith', 'Drake Featuring J. Cole', 'Xavi', 'BossMan Dlow', 'Parker McCollum', 'Jung Kook', 'Ice Spice', 'YG Marley', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'Morgan Wallen Featuring Eric Church', '¥$: Kanye West & Ty Dolla $ign', 'Rich Amiri', 'Kali Uchis & Peso Pluma', 'Morgan Wallen', 'Nicki Minaj', 'The Weeknd, Jennie & Lily Rose Depp', 'Sophie Ellis-Bextor', 'Drake', 'Noah Kahan With Hozier', 'Travis Scott Featuring Playboi Carti', 'Chayce Beckham', 'Don Toliver', '¥$: Kanye West & Ty Dolla $ign', '21 Savage, Travis Scott & Metro Boomin', '4Batz', 'Kane Brown', 'Thomas Rhett Featuring Morgan Wallen', '310babii', 'Fuerza Regida & Marshmello', 'Noah Kahan', 'Peso Pluma & Anitta', 'Drake Featuring Yeat', 'GloRilla', 'Riley Green Featuring Luke Combs', 'Noah Kahan With Kacey Musgraves', 'Carly Pearce Featuring Chris Stapleton', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'Dylan Gossett', 'BigXthaPlug', 'Bad Bunny', '21 Savage & Summer Walker', 'Bad Bunny & Feid', 'Latto']

In [29]:
#scraping the Last_Week Rank 
lwr=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul[1]/li[4]/ul/li[4]/span[1]')
for i in lwr:
    if i.text is None :
        Last_Week.append("--") 
    else:
        Last_Week.append(i.text)
print(len(Last_Week),Last_Week)

100 ['1', '-', '-', '3', '2', '4', '5', '6', '7', '11', '8', '9', '12', '15', '14', '16', '10', '18', '17', '-', '19', '25', '-', '24', '22', '-', '20', '-', '26', '-', '21', '28', '-', '-', '30', '45', '23', '-', '-', '27', '32', '36', '29', '33', '35', '37', '40', '13', '34', '39', '46', '-', '-', '48', '-', '44', '47', '56', '68', '55', '81', '52', '60', '-', '-', '63', '-', '64', '53', '51', '54', '57', '59', '65', '97', '69', '74', '38', '-', '58', '61', '73', '78', '76', '67', '-', '70', '72', '-', '66', '-', '79', '-', '-', '86', '83', '77', '75', '82', '-']

In [30]:
#scraping the Weeks_on_board 
wob=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul[1]/li[4]/ul[1]/li[6]/span[1]')
for i in wob:
    if i.text is None :
        Weeks_on_board.append("--") 
    else:
        Weeks_on_board.append(i.text)
print(len(Weeks_on_board),Weeks_on_board)

100 ['14', '1', '1', '4', '27', '41', '61', '25', '22', '20', '47', '21', '20', '55', '5', '50', '52', '16', '28', '46', '9', '9', '1', '23', '14', '1', '30', '1', '13', '1', '5', '5', '1', '1', '19', '27', '3', '1', '1', '10', '19', '11', '30', '22', '19', '33', '32', '3', '13', '44', '35', '1', '1', '14', '1', '16', '19', '9', '2', '17', '15', '3', '3', '1', '1', '21', '1', '3', '5', '3', '10', '8', '7', '13', '11', '16', '7', '2', '1', '5', '6', '7', '7', '9', '15', '1', '9', '19', '1', '11', '2', '9', '1', '1', '6', '8', '18', '5', '15', '1']

In [31]:
#scraping the Peak position
pp=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in pp:
    if i.text is None :
        Peak_pos.append("--") 
    else:
        Peak_pos.append(i.text)
print(len(Peak_pos),Peak_pos)

100 ['1', '2', '3', '3', '2', '1', '2', '1', '3', '10', '2', '7', '7', '1', '5', '7', '1', '1', '1', '1', '18', '20', '23', '24', '11', '26', '14', '28', '26', '30', '1', '28', '33', '34', '30', '25', '19', '38', '39', '24', '11', '36', '1', '33', '35', '6', '19', '1', '34', '13', '36', '52', '53', '40', '55', '21', '1', '46', '59', '52', '5', '37', '60', '64', '65', '15', '67', '64', '22', '24', '15', '57', '51', '11', '37', '5', '64', '38', '79', '10', '59', '59', '55', '61', '40', '86', '53', '2', '89', '60', '76', '67', '93', '94', '86', '65', '5', '43', '20', '100']

In [34]:
Top_Song=pd.DataFrame([])
Top_Song['Peak_rank']=rank
Top_Song['Song Name']=Song_Name
Top_Song['Artist Name']=Singer
Top_Song['Last_Week_Rank']=Last_Week
Top_Song['Peak Rank']=Peak_pos
Top_Song['Weeks_on_board']=Weeks_on_board
Top_Song

,Peak_rank,Song Name,Artist Name,Last_Week_Rank,Peak Rank,Weeks_on_board
0,1,Lovin On Me,Jack Harlow,1,1,14
1,2,Texas Hold 'Em,Beyonce,-,2,1
2,3,Carnival,¥$: Kanye West & Ty Dolla $ign,-,3,1
3,4,Beautiful Things,Benson Boone,3,3,4
4,5,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...,...
95,96,Mmhmm,BigXthaPlug,83,65,8
96,97,Monaco,Bad Bunny,77,5,18
97,98,Prove It,21 Savage & Summer Walker,75,43,5
98,99,Perro Negro,Bad Bunny & Feid,82,20,15
99,100,Sunday Service,Latto,-,100,1

# 6. Scrape the details of Highest selling novels.

In [35]:
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [36]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]


#scraping the Book_name 
bname=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in bname:
    if i.text is None :
        Book_name.append("--") 
    else:
        Book_name.append(i.text)
print(len(Book_name),Book_name)

100 ['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [37]:
#scraping the Author_name 
Auth=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in Auth:
    if i.text is None :
        Author_name.append("--") 
    else:
        Author_name.append(i.text)
print(len(Author_name),Author_name)

100 ['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

In [38]:
#scraping the Genre 
gen=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in gen:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
print(len(Genre),Genre)

100 ['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [39]:
#scraping the Publisher 
pub=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in pub:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text)
print(len(Publisher),Publisher)

100 ['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

In [40]:
#scraping the Volumes_sold 
vs=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in vs:
    if i.text is None :
        Volumes_sold.append("--") 
    else:
        Volumes_sold.append(i.text)
print(len(Volumes_sold),Volumes_sold)

100 ['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

In [41]:
Book=pd.DataFrame([])
Book['Book_name']=Book_name
Book['Author_name']=Author_name
Book['Genre']=Genre
Book['Publisher']=Publisher
Book['Volumes_sold']=Volumes_sold
Book

,Book_name,Author_name,Genre,Publisher,Volumes_sold
0,"Da Vinci Code,The","Brown, Dan","Crime, Thriller & Adventure",Transworld,"5,094,805"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,475,152"
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,200,654"
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,179,479"
4,Fifty Shades of Grey,"James, E. L.",Romance & Sagas,Random House,"3,758,936"
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert",General & Literary Fiction,Random House,"807,311"
96,Happy Days with the Naked Chef,"Oliver, Jamie",Food & Drink: General,Penguin,"794,201"
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",Young Adult Fiction,Scholastic Ltd.,"792,187"
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",Biography: General,Orion,"791,507"
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",Food & Drink: General,Penguin,"791,095"

# 7. Scrape the details most watched tv series of all time from imdb.com.

In [53]:
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")

In [54]:
Name=[]
Year_span=[]
Genres=[]
Run_time=[]




#scraping the Name 
mname=driver.find_elements(By.XPATH, '//div[@class="sc-be6f1408-0 gVGktK"]/div[1]/a[1]/h3')
for i in mname:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
print(len(Name),Name)

50 ['1. Game of Thrones', '2. Breaking Bad', '3. Stranger Things', '4. Friends', '5. The Walking Dead', '6. Sherlock', '7. The Big Bang Theory', '8. Dexter', '9. How I Met Your Mother', '10. The Office', '11. True Detective', '12. Peaky Blinders', '13. Better Call Saul', '14. The Boys', '15. Black Mirror', '16. Rick and Morty', '17. Lost', '18. The Mandalorian', '19. Vikings', '20. Prison Break', '21. The Witcher', '22. Squid Game', '23. Westworld', '24. House of Cards', '25. Money Heist', '26. House', '27. The Last of Us', '28. Attack on Titan', '29. Supernatural', '30. Modern Family', '31. Suits', '32. Daredevil', '33. Narcos', '34. The Sopranos', '35. Arrow', '36. Dark', '37. The Simpsons', '38. Fargo', '39. Mr. Robot', '40. Loki', '41. South Park', '42. The Wire', '43. Death Note', '44. The Flash', '45. House of the Dragon', '46. Family Guy', '47. Homeland', '48. Avatar: The Last Airbender', '49. Brooklyn Nine-Nine', '50. Wednesday']

In [55]:
#scraping the Year_span 
ys=driver.find_elements(By.XPATH, '//div[@class="sc-be6f1408-0 gVGktK"]/div[2]/span[1]')
for i in ys:
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text)
print(len(Year_span),Year_span)

50 ['2011–2019', '2008–2013', '2016–2025', '1994–2004', '2010–2022', '2010–2017', '2007–2019', '2006–2013', '2005–2014', '2005–2013', '2014–', '2013–2022', '2015–2022', '2019–', '2011–', '2013–', '2004–2010', '2019–', '2013–2020', '2005–2017', '2019–', '2021–', '2016–2022', '2013–2018', '2017–2021', '2004–2012', '2023–', '2013–2023', '2005–2020', '2009–2020', '2011–2019', '2015–2018', '2015–2017', '1999–2007', '2012–2020', '2017–2020', '1989–', '2014–2024', '2015–2019', '2021–2023', '1997–', '2002–2008', '2006–2007', '2014–2023', '2022–', '1999–2025', '2011–2020', '2005–2008', '2013–2021', '2022–']

In [58]:
import re
Ratings = []
#scraping the Ratings 
rate=driver.find_elements(By.XPATH, '//span[@class="ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating"]')
for i in rate:
    if i.text is None :
        Ratings.append("--") 
    else:
        rating_text = re.split(r'\s',i.text)[0]
        Ratings.append(rating_text)
print(len(Ratings),Ratings)

50 ['9.2', '9.5', '8.7', '8.9', '8.1', '9.1', '8.2', '8.7', '8.3', '9.0', '8.9', '8.8', '9.0', '8.7', '8.7', '9.1', '8.3', '8.7', '8.5', '8.3', '8.0', '8.0', '8.5', '8.6', '8.2', '8.7', '8.8', '9.1', '8.4', '8.5', '8.4', '8.6', '8.8', '9.2', '7.5', '8.7', '8.7', '8.9', '8.5', '8.2', '8.7', '9.3', '8.9', '7.5', '8.4', '8.2', '8.3', '9.3', '8.4', '8.1']

In [61]:
import re
Votes = []

#scraping the Votes 
v=driver.find_elements(By.XPATH, '//div[@class="sc-f24f1c5c-0 cPpOqU"]')
for i in v:
    if i.text is None :
        Votes.append("--") 
    else:
        vote_text = i.text.replace("Votes", "")
        Votes.append(vote_text.strip())
        
print(len(Votes),Votes)

50 ['2,258,992', '2,106,387', '1,317,933', '1,077,265', '1,070,306', '988,220', '860,010', '758,803', '723,320', '698,370', '640,893', '636,162', '635,337', '633,315', '632,179', '593,634', '589,638', '579,553', '575,202', '574,272', '564,493', '530,232', '529,228', '527,910', '525,863', '504,036', '500,632', '497,554', '478,459', '476,350', '471,180', '470,792', '465,025', '461,751', '444,563', '436,978', '432,638', '415,451', '414,751', '405,937', '402,999', '372,513', '371,946', '366,724', '362,904', '361,637', '359,014', '356,635', '355,602', '352,533']

In [62]:
TV_Series=pd.DataFrame([])
TV_Series['Name']=Name
TV_Series['Year_span']=Year_span
#TV_Series['Run_time']=Run_time
#TV_Series['Genres']=Genres
TV_Series['Ratings']=Ratings
TV_Series['Votes']=Votes
TV_Series

                              Name  Year_span Ratings      Votes
0               1. Game of Thrones  2011–2019     9.2  2,258,992
1                  2. Breaking Bad  2008–2013     9.5  2,106,387
2               3. Stranger Things  2016–2025     8.7  1,317,933
3                       4. Friends  1994–2004     8.9  1,077,265
4              5. The Walking Dead  2010–2022     8.1  1,070,306
5                      6. Sherlock  2010–2017     9.1    988,220
6           7. The Big Bang Theory  2007–2019     8.2    860,010
7                        8. Dexter  2006–2013     8.7    758,803
8         9. How I Met Your Mother  2005–2014     8.3    723,320
9                   10. The Office  2005–2013     9.0    698,370
10              11. True Detective      2014–     8.9    640,893
11              12. Peaky Blinders  2013–2022     8.8    636,162
12            13. Better Call Saul  2015–2022     9.0    635,337
13                    14. The Boys      2019–     8.7    633,315
14                15. Black Mirror      2011–     8.7    632,179
15              16. Rick and Morty      2013–     9.1    593,634
16                        17. Lost  2004–2010     8.3    589,638
17             18. The Mandalorian      2019–     8.7    579,553
18                     19. Vikings  2013–2020     8.5    575,202
19                20. Prison Break  2005–2017     8.3    574,272
20                 21. The Witcher      2019–     8.0    564,493
21                  22. Squid Game      2021–     8.0    530,232
22                   23. Westworld  2016–2022     8.5    529,228
23              24. House of Cards  2013–2018     8.6    527,910
24                 25. Money Heist  2017–2021     8.2    525,863
25                       26. House  2004–2012     8.7    504,036
26              27. The Last of Us      2023–     8.8    500,632
27             28. Attack on Titan  2013–2023     9.1    497,554
28                29. Supernatural  2005–2020     8.4    478,459
29               30. Modern Family  2009–2020     8.5    476,350
30                       31. Suits  2011–2019     8.4    471,180
31                   32. Daredevil  2015–2018     8.6    470,792
32                      33. Narcos  2015–2017     8.8    465,025
33                34. The Sopranos  1999–2007     9.2    461,751
34                       35. Arrow  2012–2020     7.5    444,563
35                        36. Dark  2017–2020     8.7    436,978
36                37. The Simpsons      1989–     8.7    432,638
37                       38. Fargo  2014–2024     8.9    415,451
38                   39. Mr. Robot  2015–2019     8.5    414,751
39                        40. Loki  2021–2023     8.2    405,937
40                  41. South Park      1997–     8.7    402,999
41                    42. The Wire  2002–2008     9.3    372,513
42                  43. Death Note  2006–2007     8.9    371,946
43                   44. The Flash  2014–2023     7.5    366,724
44         45. House of the Dragon      2022–     8.4    362,904
45                  46. Family Guy  1999–2025     8.2    361,637
46                    47. Homeland  2011–2020     8.3    359,014
47  48. Avatar: The Last Airbender  2005–2008     9.3    356,635
48          49. Brooklyn Nine-Nine  2013–2021     8.4    355,602
49                   50. Wednesday      2022–     8.1    352,533

# 8. Details of Datasets from UCI machine learning repositories.

In [68]:
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

In [69]:
Dataset_Name=[]
Data_Type=[]
Task=[]
Attribute_Type=[]
No_of_Instances=[]
No_of_Attribute=[]
Year=[]


search_1 = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')       # Locating page foe top videos by xpath
search_1.click()

In [71]:
#scraping the Dataset_Name 
dname=driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
for i in dname:
    if i.text is None :
        Dataset_Name.append("--") 
    else:
        Dataset_Name.append(i.text)
print(len(Dataset_Name),Dataset_Name)

10 ['Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes']

In [72]:
#scraping the Data_Type 
dtype=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
for i in dtype:
    if i.text is None :
        Data_Type.append("--") 
    else:
        Data_Type.append(i.text)
print(len(Data_Type),Data_Type)

10 ['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series']

In [73]:
#scraping the Task 
t=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span[1]')
for i in t:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
print(len(Task),Task)

10 ['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification']

In [74]:
#scraping the No_of_Instances 
noi=driver.find_elements(By.XPATH, '//div[@class="relative col-span-8 sm:col-span-7"]/div/div[3]/span')
for i in noi:
    if i.text is None :
        No_of_Instances.append("--") 
    else:
        No_of_Instances.append(i.text)
print(len(No_of_Instances),No_of_Instances)

10 ['150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances']

In [75]:
#scraping the No_of_Attribute 
noa=driver.find_elements(By.XPATH, '//div[@class="relative col-span-8 sm:col-span-7"]/div/div[4]/span')
for i in noa:
    if i.text is None :
        No_of_Attribute.append("--") 
    else:
        No_of_Attribute.append(i.text)
print(len(No_of_Attribute),No_of_Attribute)

10 ['4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features']

In [76]:
UCI=pd.DataFrame([])
UCI['Dataset_Name']=Dataset_Name
UCI['Data_Type']=Data_Type
UCI['Task']=Task

UCI['No_of_Instances']=No_of_Instances
UCI['No_of_Attribute']=No_of_Attribute

UCI

,Dataset_Name,Data_Type,Task,No_of_Instances,No_of_Attribute
0,Iris,Tabular,Classification,150 Instances,4 Features
1,Dry Bean Dataset,Multivariate,Classification,13.61K Instances,16 Features
2,Heart Disease,Multivariate,Classification,303 Instances,13 Features
3,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances,7 Features
4,Adult,Multivariate,Classification,48.84K Instances,14 Features
5,Raisin,Multivariate,Classification,900 Instances,8 Features
6,Wine,Tabular,Classification,178 Instances,13 Features
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances,30 Features
8,Wine Quality,Multivariate,"Classification, Regression",4.9K Instances,12 Features
9,Diabetes,"Multivariate, Time-Series",Classification,1 Instances,20 Features